<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- hojas de estilos-->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>Login</title>
</head>
<body>
    <form action="">
        <div class="contain-form">
            <div class="box-input">
                <label for="usuario">Usuario</label>
                <input type="text" name="usuario" id="usuario">
            </div>
            <div class="box-input">
                <label for="contrasenia">Contraseña</label>
                <input type="text" name="contrasenia" id="contrasenia">
            </div>
            <button type="submit">Iniciar sesion</button>
        </div>
    </form>
</body>
</html>